extends ../layout

block content
  .container
    .row
      each item in music
        .col-md-2
          .thumbnail
            a(href="/music/#{item._id}")
              img(src="#{item.poster}", alt="#{item.title}")
            .caption
              h3 #{title}
              p: a.btn.btn-primary(href="/music/#{item._id}", role="button")
                播放
